@import url(https://raw.githubusercontent.com/caffeinepyroxene/adwaita-style-discord/refs/heads/main/src/colorvars.css);
@import url(https://raw.githubusercontent.com/caffeinepyroxene/adwaita-style-discord/refs/heads/main/src/accent/blue.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Samsung.css);
@import url("https://gist.githubusercontent.com/Kodarru/b5185a06777663906915724563771835/raw/HideTimestamps.css");
@import url("https://gold-me.github.io/DiscordIcons/main.css");

:root {
    --font-primary: 'Adwaita Sans';
    --gord-chat-width: 1000px;
    --gord-message-actions: none;
    --guildbar-avatar-size: 40px;
}

:root,
.recentMentionsPopout__95796,
.layer_da8173 {
    --background-primary: var(--gnome-view-background) !important;
    --background-base-lowest: var(--gnome-view-background) !important;
    --background-base-lower: var(--gnome-view-background) !important;
    --__header-bar-background: var(--gnome-view-background) !important;
    --background-secondary: var(--gnome-secondary-sidebar-background);
    --bg-base-secondary: var(--gnome-view-background) !important;
    --background-tertiary: var(--gnome-sidebar-background);
    --bg-base-tertiary: var(--gnome-sidebar-background) !important;
    --background-secondary-alt: var(--gnome-sidebar-background);
    --channel-icon: var(--gnome-toolbar-icon-fill);
    --interactive-normal: var(--gnome-toolbar-icon-fill);
    --status-danger: var(--gnome-palette-red-2);
    --text-positive: var(--gnome-palette-green-3);
    --button-positive-background: var(--gnome-palette-green-3) !important;
    --input-background: var(--gnome-entry-background);
    --input-border: var(--gnome-entry-focused-border-color);
    --modal-background: var(--gnome-window-background);
    --home-background: var(--gnome-view-background);
    --bg-base-primary: var(--gnome-view-background);
    --font-primary: system-ui;
    --chat-background-default: var(--gnome-view-background) !important;
    --border-subtle: transparent !important;
}

/* fuck visual refresh */
.privateChannels__35e86,
.scroller__99e7c,
.container__2637a {
    background-color: var(--gnome-secondary-sidebar-background) !important;
}

.guilds_c48ade, .sidebar_c48ade {
    background-color: var(--gnome-sidebar-background) !important;
}

.guilds_c48ade, .tree_ef3116 {
    overflow: visible!important;
}
/* .itemsContainer_ef3116{
    overflow: visible scroll;
} */
/* --lag fix-- */
/* .guilds_c48ade, */
/* server list */
.chatContent_f75fb0,
/* main chat messages container */
.sidebarList_c48ade,
/* channels sidebar with animated banner */
.layerContainer_da8173,
/* app sibling container for overlay elements */
.app__160d8 {
    /* app container */
    contain: strict !important;
}

.typingDots_b88801,
.vc-typing-indicator-dots {
    contain: paint !important;
}

/* fonts */
.text-sm\/medium_cf4812,
.item_b3f026,
.topic__6ec1a {
    font-weight: 400;
}

/* titlebar                 - -------------------------------------------- */
#app-mount:has(.titleBar__421ed) {

    /* Shrinks titlebar down to nothing */
    div[class*="titleBar_"] {
        height: 0px;
        margin: 0px;
        gap: 4px;
    }

    /* Removes the "Discord" text on the top left of the screen */
    div[class*="wordmark_"] {
        display: none;
    }

    /* Scale the _ □ X buttons to match top bar icons */
    div[class*=winButton_] {
        top: 10px;
        right: 13px;
        height: 26px;
        width: 26px !important;
        -webkit-app-region: no-drag !important;
        border-radius: 50%;
        background-color: var(--gnome-button-background);
        color: var(--gnome-toolbar-icon-fill);

        >svg {
            background: var(--gnome-toolbar-icon-fill);
            fill: var(--gnome-toolbar-icon-fill);
            fill-rule: evenodd !important;
            clip-rule: evenodd;
            clip-path: path("M2.0001 2H3.0001H3.03135C3.28525 2.01172 3.54307 2.12891 3.71885 2.3125L6.0001 4.59375L8.3126 2.3125C8.57822 2.08203 8.75791 2.00781 9.0001 2H10.0001V3C10.0001 3.28516 9.96494 3.55078 9.7501 3.75L7.46885 6.03125L9.71885 8.28125C9.90635 8.46875 10.0001 8.73438 10.0001 9V10H9.0001C8.73447 10 8.46885 9.90625 8.28135 9.71875L6.0001 7.4375L3.71885 9.71875C3.53135 9.90625 3.26572 10 3.0001 10H2.0001V9C2.0001 8.73438 2.09385 8.46875 2.28135 8.28125L4.5626 6.03125L2.28135 3.75C2.07041 3.55469 1.97666 3.28125 2.0001 3V2Z");
        }
    }

    div[class*=winButton_]:hover {

        background-color: var(--gnome-button-hover-background);
    }

    div[class*=winButtonMinMax_] {
        display: none;
    }

    /* small hack to avoid https://github.com/electron/electron/issues/1354 */
    [class^="winButtonClose_"],
    [class^="closeButton_"] {
        -webkit-app-region: no-drag;
    }

    div[class^="upperContainer_"] {
        -webkit-app-region: drag;
        width: calc(100% - 40px);
    }

    /* revert offset when thread/forum channel is open */
    div[class*="threadSidebarOpen_"]>div>section>div[class^="upperContainer_"] {
        width: 100%;
    }

    [class^="subtitleContainer_"] {
        -webkit-app-region: drag;
    }
}

/*subtitleheader ------------------------------        ------------ -- -*/
.container__9293f {
    --__header-bar-background: var(--gnome-view-background) !important;
    background-color: var(--gnome-view-background) !important;
}

.subtitleContainer_f75fb0 {
    box-shadow: var(--elevation-stroke);

    .title_f75fb0 {
        min-height: 46px !important;
        max-height: 46px;
        padding: 0 16px;
    }

    .toolbar__9293f .iconWrapper__9293f {
        width: var(--gnome-button-size);
        height: var(--gnome-button-size);
        margin: 0 4px;
        border-radius: var(--gnome-button-radius);
        align-content: center;
        pointer-events: all !important;
        padding: 0px;

        >svg {
            width: var(--gnome-button-size);
            height: var(--gnome-button-size);
            justify-self: center;
            align-self: center;
            color: white !important;
            padding: 8px;
        }

        &:hover {
            background-color: var(--gnome-button-hover-background);
        }

        &:has(.iconBadge__9293f) {
            background-color: var(--gnome-button-destructive-background);

            .iconBadge__9293f {
                display: none;
            }

            >svg>foreignObject {
                mask: none;

                >svg {
                    color: var(--gnome-destructive) !important;
                }
            }
        }

        &.selected__9293f {
            background-color: var(--gnome-button-checked-background);

            &:hover {
                background-color: var(--gnome-button-checked-hover-background);
            }
        }
    }


    [class^="children_"] {
        .titleWrapper_fc4f04 {
            min-height: 46px !important;
            max-height: 46px;
            margin: 0px;

            >h1 {
                justify-content: center;
                font-size: 15px;
                overflow: visible;
            }
        }

        [class^="topic_"] {
            line-height: 13px;
            font-size: 13px;
            color: #999999;
            overflow: visible;
            pointer-events: all;
            -webkit-app-region: no-drag !important;
            flex: none;

            .topicClickTarget__6ec1a {
                width: 100%;
                height: 100%;
                padding: 4px 0;
                box-sizing: content-box;
                top: -4px;
            }
        }

        [class^="divider_"] {
            display: none;
        }

    }

    [class^="title_"] [class^="children_"] [class^="iconWrapper_"] {
        display: none;
    }
}

.search__49676 {
    margin: 0 4px;
}

.search__97492:not(.open__97492) {
    &>.searchBar__97492 {
        width: var(--gnome-button-size);
        background: transparent;
        border: none;
        height: var(--gnome-button-size);
    }

    & .icon__97492 {
        cursor: pointer;
        width: var(--gnome-button-size) !important;
        height: var(--gnome-button-size);

        &>.iconContainer_fea832 {
            width: var(--gnome-button-size) !important;
            height: var(--gnome-button-size);
            border-radius: var(--gnome-button-radius);
            align-content: center;
            pointer-events: all !important;
            padding: 0px;
            transform: scale(1) translate(-2px, 1px);
            max-width: none;
            min-width: var(--gnome-button-size);

            &>svg.icon_fea832 {
                color: var(--interactive-normal);
                margin: 0 4px;
                transform: scale(0.6) translate(-7px, -1px);
            }

            &:hover {
                background-color: var(--gnome-button-hover-background);
            }
        }
    }

    &:hover::before {
        position: absolute;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        box-sizing: border-box;
        word-wrap: break-word;
        z-index: 1002;
        top: calc(100% + 8px);
        left: 50%;
        transform: translateX(-50%);
        color: var(--text-normal);
        padding: 8px 12px;
        background-color: var(--background-floating);
        content: 'Search';
        box-shadow: var(--elevation-high);
        border: 1px solid var(--border-subtle);
    }

    &:hover::after {
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-width: 5px;
        pointer-events: none;
        position: absolute;
        z-index: 1;
        top: calc(100% - 1.7px);
        content: '';
        border-top-color: var(--background-floating);
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-top-width: 5px;
        transform: rotate(180deg);
    }

    /* iconifies search, made by obsidian */
}


/* CHANNLE LIST ------------ --------------- --          ------ */
.bannerImage_f37cb1 {
    width: 100%;

    .bannerImg_f37cb1 {
        width: 100%;
    }
}

.sidebar_c48ade {
    min-width: 280px !important;
    width: 280px !important;
    border-radius: 0px;
    &::after {
        display: none!important;
    }
    .sidebarList_c48ade {
        border-radius: 0px!important;
    }
}

.header_f37cb1 {
    height: 46px;

    .name_f37cb1 {
        margin-left: auto;
        text-align: center;

    }

    .guildIconV2Container__85d16 {
        margin: 0;
        width: 18px;

        .flowerStarContainer__3e3b0 {
            margin-left: 1px;
        }
    }
}

.panels_c48ade {
        left: 0px!important;
        bottom: 0px!important;
        width: 100%!important;
        border-radius: 0px!important;
        border: none!important;
        background: linear-gradient(to top, var(--gnome-secondary-sidebar-background) 0%, transparent 100%)!important;
    .container__37e49 {
        justify-content: space-between;
    }
}

.dm__972a0,
.channel__972a0 {
    max-width: none;
    border-radius: var(--gnome-button-radius);

    .layout__20a53 {
        border-radius: var(--gnome-button-radius);
    }
}

.link__972a0 {
    border-radius: var(--gnome-button-radius);
}

.containerDefault_c69b6d .link__2ea32 {
    height: 34px !important;
    align-content: center;
    justify-content: center;
    border-radius: var(--gnome-button-radius);

    &:hover {
        background-color: var(--gnome-button-hover-background);
    }
}

.containerDefault_c69b6d.selected_c69b6d .link__2ea32 {
    background-color: var(--gnome-button-checked-background);

    &:hover {
        background-color: var(--gnome-button-checked-hover-background);
    }

}

.containerDefault__29444 {
    padding: 0px;
}

.sectionDivider__629e4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.containerWithMargin_eff079 {
    margin-bottom: 6px;
}

.content__99f8c div[style="height: 12px;"] {
    height: 6px !important;
}

.privateChannels__35e86 .searchBar__35e86 {
    max-height: 46px;

    .button__201d5 {
        margin-left: auto;
        font-size: 0px;
        width: 34px;
        height: 34px;
        min-width: 34px;
        min-height: 34px;
        padding: 0px;
        overflow: visible;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1618_9)'%3E%3Cpath d='M15.6055 9.05859C12.0273 9.05859 9.10547 11.9805 9.10547 15.5586C9.10547 19.1367 12.0273 22.0547 15.6055 22.0547C17.0352 22.0547 18.3594 21.5898 19.4336 20.8008L22.4062 23.7734C23.3633 24.7148 24.7695 23.2773 23.8125 22.3359L20.8555 19.3789C21.6367 18.3047 22.1055 16.9844 22.1055 15.5586C22.1055 11.9805 19.1797 9.05859 15.6055 9.05859ZM15.6055 11.0586C18.1016 11.0586 20.1055 13.0625 20.1055 15.5586C20.1055 18.0547 18.1016 20.0547 15.6055 20.0547C13.1055 20.0547 11.1055 18.0547 11.1055 15.5586C11.1055 13.0625 13.1055 11.0586 15.6055 11.0586Z' fill='white' style='fill:white;fill-opacity:1;'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1618_9'%3E%3Crect width='16' height='16' fill='white' style='fill:white;fill-opacity:1;' transform='translate(9 9)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        border-radius: var(--gnome-button-radius);
        transition: background-color 0.2s;
        box-sizing: content-box;

        &:hover {
            background-color: var(--gnome-button-hover-background);
        }

        .contents__201d5 {
            display: none;
        }

    }

    &::before {
        position: absolute;
        content: "Discord";
        font-size: 16px;
        color: var(--gnome-toolbar-icon-fill);
        left: 0px;
        right: 0px;
        align-self: center;
        justify-self: center;
        pointer-events: none;
        font-weight: 600;
    }
}

/* Notices -------------------------------------------*/
.notice__6e2b9 {
    .closeButton__6e2b9 {
        top: 5px;
        left: 59px;
    }

}


/* BUTON STYLING/swtich styling -----------------------*/
.section__6fdb8 {
    --background-primary: var(--gnome-window-background);
}

.button__201d5 {
    border-radius: var(--gnome-button-radius);
}

.lookOutlined__201d5 {
    border: none;
    background-color: var(--bg) !important;
    color: var(--c) !important;

    &:hover {
        background-color: var(--h) !important;
        color: var(--c) !important;
    }
}

.colorRed__201d5 {
    --bg: var(--gnome-button-destructive-background);
    --c: var(--gnome-destructive);
    --h: var(--gnome-button-destructive-hover-background);
}

.colorGreen__201d5 {
    --bg: var(--gnome-button-success-background);
    --c: var(--gnome-success);
    --h: var(--gnome-button-success-hover-background);
}

.control__9d263 .checked__87bf1 {
    background-color: var(--brand-500) !important;
}

.slider__87bf1 svg {
    display: none;
}

.sizeMedium__201d5,
.sizeLarge__201d5 {
    border-radius: 20px;
    padding: 2px 20px;
    min-height: var(--gnome-button-size);
    height: var(--gnome-button-size);
    max-height: var(--gnome-button-size);
}

.metadataRefreshButton_c7f964 {
    background-color: var(--gnome-button-background) !important;

    &:hover {
        background-color: var(--gnome-button-hover-background) !important;
    }
}

.inputDefault__0f084 {
    height: var(--gnome-entry-height);
    border-radius: var(--gnome-button-radius);
    overflow: visible;
    width: 100%;

    &:focus {
        border: 2px solid var(--gnome-entry-focused-border-color);

    }
}

.select__3f413 {
    border: none;
}

/* SETTINGS ------------------------------- -------------- -- - - - */
.standardSidebarView__23e6b {
    position: absolute;
    width: 60vw;
    max-width: 60vw !important;
    height: 75vh;
    z-index: 4000;
    justify-self: center;
    align-self: center;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: rgba(255, 255, 255, 0.1) 1px solid;

    .contentRegion__23e6b {
        width: calc(60vw - 270px);
        display: block;
        flex: none;

        .toolsContainer__23e6b {
            margin: 0;
            position: absolute;
            right: 0px;
            top: 0;
            flex: none;
            background-color: var(--background-secondary);
            padding: 0px;
            height: 46px;
            width: 100%;
            box-shadow: var(--elevation-low);

            .tools__23e6b {
                position: absolute;
                top: 10px;
                right: 20px;
                z-index: 5000;

                .container_c2b141 {
                    .keybind_c2b141 {
                        display: none;
                    }

                    .closeButton_c2b141 {
                        border-radius: 50%;
                        background-color: var(--gnome-button-background);
                        color: var(--gnome-toolbar-icon-fill);
                        height: 25px !important;
                        width: 25px !important;
                        border: none;
                        flex: none;

                        >svg {
                            margin: 9px 0px 0px 9px;
                            width: 18px !important;
                            height: 18px !important;
                            overflow: visible;

                            >path {
                                margin-left: 20px;
                                d: path("M0.00380648 0.00268555H1.50315H1.55C1.93069 0.0202563 2.31724 0.19596 2.5808 0.47123L6.00117 3.8916L9.4684 0.47123C9.86666 0.125678 10.1361 0.0143984 10.4992 0.00268555H11.9985V1.50203C11.9985 1.92957 11.9458 2.32784 11.6237 2.62653L8.20333 6.0469L11.5768 9.42042C11.858 9.70155 11.9985 10.0998 11.9985 10.4981V11.9974H10.4992C10.1009 11.9974 9.70267 11.8569 9.42154 11.5757L6.00117 8.15535L2.5808 11.5757C2.29967 11.8569 1.90141 11.9974 1.50315 11.9974H0.00380648V10.4981C0.00380648 10.0998 0.14437 9.70155 0.425496 9.42042L3.84587 6.0469L0.425496 2.62653C0.109228 2.33369 -0.0313351 1.92372 0.00380648 1.50203V0.00268555Z");
                            }
                        }
                    }
                }
            }
        }

        .contentColumn__23e6b:not([id*="vencord"], [id*="vesktop"]) {
            /* vencord tabs excluded because they are literally the only ones that break lmfao */
            min-width: 0px !important;
            width: 100%;
            padding: 0px 20px;

            >.settingsPage_f131e9 {
                >div {
                    padding-top: 66px;
                }

                >h3 {
                    font-size: 16px;
                    z-index: 5000;
                    height: 46px;
                    align-content: center;
                    text-align: center;
                    width: calc(60vw - 270px - 50px);
                    position: fixed;
                }
            }

            >div>h2[data-text-variant="heading-lg/semibold"],
            >div>.sectionTitle__7bffb>h2,
            >h2[data-text-variant="heading-lg/semibold"] {
                font-size: 16px;
                z-index: 100;
                height: 46px;
                align-content: center;
                text-align: center;
                width: calc(60vw - 270px - 50px);
                position: fixed;
                pointer-events: none;
            }

            >div>.children__7bffb,
            .tabBar_d6f9e9,
            .vc-settings-tab-bar,
            .vc-special-card,
            >div>.h5_b717a1 {
                margin-top: 66px;
            }

            .headerContainer__6a750 {
                justify-content: center;
            }
        }
    }

    .sidebarRegion__23e6b {
        flex: none;

        .sidebar__23e6b {
            width: 270px;
            padding: 0;
            overflow: visible !important;

            &::before {
                content: "Settings";
                font-size: 16px;
                font-weight: 600;
                z-index: 100;
                height: 46px;
                align-content: center;
                text-align: center;
                width: 278px;
                position: fixed;
                pointer-events: none;
                background-color: var(--background-primary);
                box-shadow: var(--elevation-low);
                color: white;
            }

            .side_b3f026 {
                overflow: visible !important;
                padding: 60px 8px 60px 16px;
            }
            
        }
    }

}

.layer__960e4 {
    background-color: var(--gnome-card-shade-color) !important;
}

.baseLayer__960e4 {
    opacity: 1 !important;
    transform: scale(1) !important;
}

/* PROFILES ------------------------------------------ */

/* .fullSize_c0bea0 {
    .mask__68edb foreignObject {
        mask: none;
    }

    .headerInner__24502 {
        .avatar__75742 {
            align-self: center;
            justify-self: center;
            top: -150px;
            left: 50%;
            right: 50%;
        }

        .referenceContainer_ab8609 {
            display: none;
        }

        .container_ab8609 {
            top: -20px;
            align-self: center;
            justify-self: center;
            left: 34%;

            .outer_ab8609 {
                max-width: none;
                width: 50% !important;

                &::before {
                    left: 160px;
                }

                &::after {
                    top: -24px;
                    left: 155px;
                }
            }
        }

        .headerButtons__24502 {
            padding-top: 40px;

            .multipleButtons_ea99c4 {
                width: 100%;

                .button_fb7f94 {
                    width: 100%;
                }
            }
        }
    }
} */

/* MESSAGES ----------------------------------------------------------------- */
.messagesWrapper__36d07>.scroller__36d07>.scrollerContent__36d07,
.form_f75fb0 .channelBottomBarArea_f75fb0 {
    width: 100%;
    max-width: var(--gord-chat-width);
    justify-self: center;
}

.message__5126c {
    .header_c19a55 {
        display: flex;
        justify-content: space-between;

        .username_c19a55 {
            font-weight: 700;
        }
    }

    .buttons__5126c {
        display: var(--gord-message-actions);
    }

    &.mentioned__5126c {
        background-color: var(--gnome-selection-bg);
        border-radius: var(--gnome-button-radius);

        &::before {
            display: none;
        }

        &:hover {
            background-color: var(--gnome-selection-bg) !important;
        }
    }

    &:hover {
        background-color: transparent !important;
    }

    .timestampVisibleOnHover_c19a55 {
        position: absolute !important;
        right: 20px !important;
        text-align: left !important;
        left: auto !important;

        time {
            font-size: 0.75rem !important;
        }
    }
}

.jumpToPresentBar__0f481 {
    bottom: 16px !important;
    right: 20px !important;
    left: auto !important;
    padding-bottom: 0px !important;
    padding: 4px !important;
    opacity: 1 !important;
    border-radius: 20px !important;
    width: fit-content !important;
    padding: 8px !important;
    margin: 0px !important;
    background-color: var(--gnome-card-shade-color) !important;
    min-width: 0px !important;
    border: none !important;

    .barButtonMain__0f481 {
        flex: none;
    }

    .button__201d5 {
        font-size: 0;
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
}

.barButtonBase__0f481 {
    padding: 0 8px;
}

.newMessagesBar__0f481 {
    justify-self: center;
    top: 4px;
    padding-bottom: 0px;
    padding: 4px;
    opacity: 1 !important;
    border-radius: 20px;
    width: fit-content;

    /* background-color: var(--gnome-card-shade-color); */
    .barButtonMain__0f481 {
        flex: none;
    }

    .barButtonAlt__0f481 {
        font-size: 0;

        .barButtonIcon__0f481 {
            margin: 0;
        }
    }
}

/* CONTEXT MENUS -------------- */
.menu_c1e9c4 {
    background: var(--gnome-menu-background);
    border-radius: 10px;

    .item_c1e9c4:not(.checkboxContainer_c1e9c4) .iconContainer_c1e9c4 .icon_c1e9c4 {
        display: none;
    }

    .wrapper_f563df .customItem_c1e9c4 .button_f563df {
        background-color: transparent;

        &:hover {
            background-color: var(--gnome-button-hover-background);
        }
    }
}




/* Text Area ------------------------------------------ -------------------------------------- */
button[aria-label|="Select emoji"]{
    height: 40px;
    width: 40px;
}
.spriteContainer__04eed {
  --custom-emoji-sprite-size: 26px !important;
}
:where(.visual-refresh) .themedBackground__74017{
    background: var(--background-floating) !important;
}
.header_c19a55{
    justify-content: normal;
}
button[aria-label|="Send a gift"]{
    display:none;
}
button[aria-label|="Open GIF picker"]{
    display:none;
}
button[aria-label|="Open sticker picker"]{
    display:none;
}
button[aria-label|="Apps"]{
    display:none;
}
button[aria-label|="Open Translate Modal"]{
    display:none;
}

/* Fix Height Padding for VR */
.visual-refresh {
    --custom-channel-textarea-text-area-height: 56px;
    .form_f75fb0 {
        display: flex;
        flex-direction: column;
    }
    .channelTextArea_f75fb0 {
        margin-bottom: 8px;
    }
    .base_b88801 {
        position: static;
        order: -1;
    }
}

.listeningAlong_e0cf27 {
border-radius: 16px;    
}

/* Remove the Create Invite button from Channel Lists */
[class^="iconVisibility_"] [aria-label="Create Invite"] {
	display: none !important;
}

[class^="iconVisibility_"] [class^="channelInfo_"] {
	display: flex !important;
}

/* VOICE ------------------------------------------------ -------------------------------------- */

.callContainer_cb9592 {
    .tile_d6271c {
        width: 200px !important;

        .tileSizer_d6271c {
            aspect-ratio: 1 / 1;
            width: 200px;

            .tile__2f4f7,
            .background_fb62e2 {
                background: none !important;
            }

            .border__2f4f7 {
                width: 84px;
                height: 84px;
                align-self: center;
                justify-self: center;
                border-radius: 100%;
            }

            .overlayContainer__2f4f7 {
                z-index: 100;
                width: 150px;
                height: 150px;
                align-self: center;
                justify-self: center;
                gap: 0;

                .overlayBottom__2f4f7 {
                    height: 130px;
                    flex-direction: column-reverse;
                    justify-content: space-between;

                    .overlayTitle__2f4f7 {
                        opacity: 1;
                        top: 0;
                        justify-content: center;
                        padding: 6px;
                        margin: 0px !important;
                        background: linear-gradient(to top, black 0%, transparent 100%) !important;
                        border-radius: 0px;
                    }

                    .statusContainer__2f4f7 {
                        width: 84px;
                        align-items: end;
                        align-content: end;
                        justify-content: end;

                        .status__2f4f7 {
                            backdrop-filter: blur(10px);
                        }
                    }
                }
            }
        }

        .tileChild__2f4f7:has(.videoWrapper__2f4f7) {
            .overlayContainer__2f4f7 {
                width: calc(100% - 16px);
                height: calc(100% - 16px);
                z-index: auto;
            }

            .border__2f4f7 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: var(--custom-base-tile-border-radius);
                pointer-events: none;
                width: 100%;
                height: 100%;
            }
        }
    }

    .row_d6271c:has(.singleUserRoot__4ad81) {
        width: 100% !important;

        .tile_d6271c,
        .tileSizer_d6271c {
            width: 100% !important;
            aspect-ratio: auto;

            .singleUserRoot__4ad81 {
                background: none;
                padding: 0px;

                img {
                    display: none;
                }

                .buttonContainer__4ad81 {
                    margin-top: 0px;
                }
            }
        }
    }

    .listItems_affa7e {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
    }

    .controlSection_bfe55a {
        opacity: 1 !important;
        transform: none !important;
    }

}

.visual-refresh {
    div[class^="subtitleContainer_"],
    main.container__133bf {
        & > section.container__9293f {
            padding-right: 86px;
        }
    }

    div.page_c48ade {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    div.base_c48ade {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];

        & > div[class^="bar_"] {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0;
        }

        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }

        & > div.content_c48ade {
            z-index: 0;
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade > div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
        margin-top: 16px;
    }
}

/*** ***/

/* Folder Icons Rounded */
[class*="closedFolderIconWrapper_"] > [class*="guildIcon_"],
[data-list-item-id*="guildsnav_"] > [class*="icon_"] {
    border-radius: 50% !important;
}

/* Title Bar Buttons */
.winButtonMinMax_c38106{
    display: none !important;
}
.winButton_c38106 {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  transition: background ease 200ms;
}
