:root {
    --brand-100: var(--gnome-palette-purple-1);
    --brand-300: var(--gnome-palette-purple-2);
    --brand-500: var(--gnome-palette-purple-3);
    --brand-700: var(--gnome-palette-purple-4);
    --brand-1000: var(--gnome-palette-purple-5);
    --brand-200: var(--brand-100);
    --brand-260: var(--brand-100);
    --brand-400: var(--brand-300);
    --brand-560: var(--brand-1000);
    --brand-600: var(--brand-500);
    --brand-800: var(--brand-700);
    --brand-900: var(--brand-1000);
    --control-brand-foreground-new: var(--brand-300);
    --gnome-accent-bg: var(--brand-500);
}
