.theme-dark {
    --gnome-toolbar-padding: 6px;
    --gnome-toolbar-spacing: 6px;
    --gnome-button-radius: 6px;
    --gnome-button-size: 34px;
    --gnome-entry-radius: var(--gnome-button-radius);
    --gnome-entry-height: var(--gnome-button-size);
    --gnome-card-radius: calc(var(--gnome-button-radius) + 6px);
    --gnome-menu-radius: 6px;
    --gnome-menu-padding: 6px;
    --gnome-menu-item-padding: 12px;
    --gnome-popover-radius: calc(var(--gnome-button-radius) + 6px);
    --gnome-dialog-radius: 18px;
    /* Alert dialog */
    --gnome-dialog-padding: 24px;

    /* Animations */
    --gnome-animation-time: 300ms;
    --gnome-tab-animation-time: 200ms;

    /* Colors */
    /* Pallete */
    --gnome-palette-blue-1: #99c1f1;
    --gnome-palette-blue-2: #62a0ea;
    --gnome-palette-blue-3: #3584e4;
    --gnome-palette-blue-4: #1c71d8;
    --gnome-palette-blue-5: #1a5fb4;
    --gnome-palette-green-1: #8ff0a4;
    --gnome-palette-green-2: #57e389;
    --gnome-palette-green-3: #33d17a;
    --gnome-palette-green-4: #2ec27e;
    --gnome-palette-green-5: #26a269;
    --gnome-palette-yellow-1: #f9f06b;
    --gnome-palette-yellow-2: #f8e45c;
    --gnome-palette-yellow-3: #f6d32d;
    --gnome-palette-yellow-4: #f5c211;
    --gnome-palette-yellow-5: #e5a50a;
    --gnome-palette-orange-1: #ffbe6f;
    --gnome-palette-orange-2: #ffa348;
    --gnome-palette-orange-3: #ff7800;
    --gnome-palette-orange-4: #e66100;
    --gnome-palette-orange-5: #c64600;
    --gnome-palette-red-1: #f66151;
    --gnome-palette-red-2: #ed333b;
    --gnome-palette-red-3: #e01b24;
    --gnome-palette-red-4: #c01c28;
    --gnome-palette-red-5: #a51d2d;
    --gnome-palette-purple-1: #dc8add;
    --gnome-palette-purple-2: #c061cb;
    --gnome-palette-purple-3: #9141ac;
    --gnome-palette-purple-4: #813d9c;
    --gnome-palette-purple-5: #613583;
    --gnome-palette-brown-1: #cdab8f;
    --gnome-palette-brown-2: #b5835a;
    --gnome-palette-brown-3: #986a44;
    --gnome-palette-brown-4: #865e3c;
    --gnome-palette-brown-5: #63452c;
    --gnome-palette-light-1: #ffffff;
    --gnome-palette-light-2: #f6f5f4;
    --gnome-palette-light-3: #deddda;
    --gnome-palette-light-4: #c0bfbc;
    --gnome-palette-light-5: #9a9996;
    --gnome-palette-dark-1: #77767b;
    --gnome-palette-dark-2: #5e5c64;
    --gnome-palette-dark-3: #3d3846;
    --gnome-palette-dark-4: #241f31;
    --gnome-palette-dark-5: #000000;

    /* Colors */
    --gnome-accent-bg: AccentColor;
    --gnome-accent: oklab(from var(--gnome-accent-bg) var(--gnome-standalone-color-oklab));
    --gnome-destructive: oklab(from var(--gnome-destructive-bg) var(--gnome-standalone-color-oklab));
    --gnome-success: oklab(from var(--gnome-success-bg) var(--gnome-standalone-color-oklab));
    --gnome-warning: oklab(from var(--gnome-warning-bg) var(--gnome-standalone-color-oklab));
    --gnome-error: oklab(from var(--gnome-error-bg) var(--gnome-standalone-color-oklab));
    --gnome-focus-border-color: color-mix(in srgb, var(--gnome-accent) 50%, transparent);

    --gnome-selection-bg: color-mix(in srgb, var(--gnome-accent-bg) 30%, transparent);
    --gnome-standalone-color-oklab: max(l, 0.85) a b;
    --gnome-destructive-bg: var(--gnome-palette-red-4);
    --gnome-success-bg: var(--gnome-palette-green-5);
    --gnome-warning-bg: var(--gnome-palette-yellow-5);
    --gnome-error-bg: var(--gnome-palette-red-4);

    --gnome-toolbar-star-button: var(--gnome-palette-yellow-1);

    /* Window */
    --gnome-window-background: #242424;
    --gnome-window-color: white;
    --gnome-view-background: #1e1e1e;
    --gnome-sidebar-background: #303030;
    --gnome-secondary-sidebar-background: #2a2a2a;

    /* Card */
    --gnome-card-background: rgba(255, 255, 255, 0.08);
    --gnome-card-shade-color: color-mix(in srgb, black 36%, transparent);

    /* Menu */
    --gnome-menu-background: #383838;

    /* Header bar */
    --gnome-headerbar-background: #303030;
    --gnome-headerbar-shade-color: rgba(0, 0, 0, 0.9);

    /* Toolbars */
    --gnome-toolbar-icon-fill: #eeeeec;

    /* Tabs */
    --gnome-tabbar-tab-hover-background: #3f3f3f;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #444444;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-background-contrast: #4F4F4F;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-hover-background: #4b4b4b;
    /* Hardcoded color */

    --gnome-tabbar-identity-color-green: var(--gnome-palette-green-1);
    --gnome-tabbar-identity-color-yellow: var(--gnome-palette-yellow-2);
    --gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-3);
    --gnome-tabbar-identity-color-red: var(--gnome-palette-red-1);
    --gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-1);
    /* Menu */
    --gnome-menu-color: var(--gnome-window-color);
    --gnome-menu-border-color: rgba(0, 0, 0, .04);
    --gnome-menu-shadow: 0 1px 5px 1px rgba(0, 0, 0, .09), 0 2px 14px 3px rgba(0, 0, 0, .05);
    --gnome-menu-button-hover-background: var(--gnome-button-background);
    --gnome-menu-separator-color: var(--gnome-border-color);

    /* Toolbars */
    --gnome-toolbar-background: var(--gnome-headerbar-background);
    --gnome-toolbar-border-color: var(--gnome-headerbar-shade-color);


    /* Elements */
    --gnome-border-color: color-mix(in srgb, white 15%, transparent);
    --gnome-hover-color: color-mix(in srgb, white 7%, transparent);
    --gnome-active-color: color-mix(in srgb, white 16%, transparent);
    --gnome-selected-color: color-mix(in srgb, white 10%, transparent);
    --gnome-selected-hover-color: color-mix(in srgb, white 13%, transparent);
    --gnome-selected-active-color: color-mix(in srgb, white 19%, transparent);
    --gnome-trough-background: color-mix(in srgb, white 15%, transparent);
    --gnome-trough-hover-background: color-mix(in srgb, white 20%, transparent);
    --gnome-trough-active-background: color-mix(in srgb, white 25%, transparent);

    /* Buttons */
    --gnome-button-background: color-mix(in srgb, white 10%, transparent);
    --gnome-button-hover-background: color-mix(in srgb, white 15%, transparent);
    --gnome-button-active-background: color-mix(in srgb, white 30%, transparent);
    --gnome-button-checked-background: var(--gnome-button-active-background);
    --gnome-button-checked-hover-background: color-mix(in srgb, white 35%, transparent);
    --gnome-button-checked-active-background: color-mix(in srgb, white 40%, transparent);
    --gnome-button-suggested-background: var(--gnome-accent-bg);
    --gnome-button-destructive-background: color-mix(in srgb, var(--gnome-destructive-bg) 15%, transparent);
    --gnome-button-destructive-hover-background: color-mix(in srgb, var(--gnome-destructive-bg) 20%, transparent);
    --gnome-button-destructive-active-background: color-mix(in srgb, var(--gnome-destructive-bg) 35%, transparent);
    --gnome-button-success-background: color-mix(in srgb, var(--gnome-success-bg) 15%, transparent);
    --gnome-button-success-hover-background: color-mix(in srgb, var(--gnome-success-bg) 20%, transparent);
    --gnome-button-success-active-background: color-mix(in srgb, var(--gnome-success-bg) 35%, transparent);

    /* Entries */
    --gnome-entry-background: var(--gnome-button-background);
    --gnome-entry-color: var(--gnome-view-color);
    --gnome-entry-focused-border-color: color-mix(in srgb, var(--gnome-accent) 50%, transparent);
    --gnome-entry-error-focused-border-color: color-mix(in srgb, var(--gnome-error) 50%, transparent);

    /* Tabs */
    --gnome-tabbar-background: var(--gnome-headerbar-background);
    --gnome-tabbar-tab-separator-color: var(--gnome-border-color);
    --gnome-tabbar-tab-needs-attetion: var(--gnome-palette-blue-2);

    --gnome-tabbar-identity-color-blue: var(--gnome-accent);
    --gnome-tabbar-identity-color-turquoise: #00c79a;
    --gnome-tabbar-identity-color-pink: #ff4b84;

    @media (prefers-reduced-motion) {
        --gnome-animation-time: 0ms;
        --gnome-tab-animation-time: 0ms;
    }

}

.theme-light {
    /* Pallete */
    --gnome-palette-blue-1: #99c1f1;
    --gnome-palette-blue-2: #62a0ea;
    --gnome-palette-blue-3: #3584e4;
    --gnome-palette-blue-4: #1c71d8;
    --gnome-palette-blue-5: #1a5fb4;
    --gnome-palette-green-1: #8ff0a4;
    --gnome-palette-green-2: #57e389;
    --gnome-palette-green-3: #33d17a;
    --gnome-palette-green-4: #2ec27e;
    --gnome-palette-green-5: #26a269;
    --gnome-palette-yellow-1: #f9f06b;
    --gnome-palette-yellow-2: #f8e45c;
    --gnome-palette-yellow-3: #f6d32d;
    --gnome-palette-yellow-4: #f5c211;
    --gnome-palette-yellow-5: #e5a50a;
    --gnome-palette-orange-1: #ffbe6f;
    --gnome-palette-orange-2: #ffa348;
    --gnome-palette-orange-3: #ff7800;
    --gnome-palette-orange-4: #e66100;
    --gnome-palette-orange-5: #c64600;
    --gnome-palette-red-1: #f66151;
    --gnome-palette-red-2: #ed333b;
    --gnome-palette-red-3: #e01b24;
    --gnome-palette-red-4: #c01c28;
    --gnome-palette-red-5: #a51d2d;
    --gnome-palette-purple-1: #dc8add;
    --gnome-palette-purple-2: #c061cb;
    --gnome-palette-purple-3: #9141ac;
    --gnome-palette-purple-4: #813d9c;
    --gnome-palette-purple-5: #613583;
    --gnome-palette-brown-1: #cdab8f;
    --gnome-palette-brown-2: #b5835a;
    --gnome-palette-brown-3: #986a44;
    --gnome-palette-brown-4: #865e3c;
    --gnome-palette-brown-5: #63452c;
    --gnome-palette-light-1: #ffffff;
    --gnome-palette-light-2: #f6f5f4;
    --gnome-palette-light-3: #deddda;
    --gnome-palette-light-4: #c0bfbc;
    --gnome-palette-light-5: #9a9996;
    --gnome-palette-dark-1: #77767b;
    --gnome-palette-dark-2: #5e5c64;
    --gnome-palette-dark-3: #3d3846;
    --gnome-palette-dark-4: #241f31;
    --gnome-palette-dark-5: #000000;

    /* Colors */
    --gnome-standalone-color-oklab: min(l, 0.5) a b;
    --gnome-accent-bg: AccentColor;
    --gnome-accent: oklab(from var(--gnome-accent-bg) var(--gnome-standalone-color-oklab));
    --gnome-destructive-bg: var(--gnome-palette-red-3);
    --gnome-destructive: oklab(from var(--gnome-destructive-bg) var(--gnome-standalone-color-oklab));
    --gnome-success-bg: var(--gnome-palette-green-4);
    --gnome-success: oklab(from var(--gnome-success-bg) var(--gnome-standalone-color-oklab));
    --gnome-warning-bg: var(--gnome-palette-yellow-5);
    --gnome-warning: oklab(from var(--gnome-warning-bg) var(--gnome-standalone-color-oklab));
    --gnome-error-bg: var(--gnome-palette-red-3);
    --gnome-error: oklab(from var(--gnome-error-bg) var(--gnome-standalone-color-oklab));
    --gnome-focus-border-color: color-mix(in srgb, var(--gnome-accent) 50%, transparent);

    --gnome-selection-bg: color-mix(in srgb, var(--gnome-accent-bg) 30%, transparent);
    --gnome-toolbar-star-button: var(--gnome-palette-yellow-5);

    /* Window */
    --gnome-window-background: #fafafa;
    --gnome-window-color: rgba(0, 0, 0, 0.8);
    --gnome-view-background: #ffffff;
    --gnome-view-color: var(--gnome-window-color);
    --gnome-view-selected-background: color-mix(in srgb, var(--gnome-accent-bg) 25%, transparent);
    --gnome-view-selected-hover-background: color-mix(in srgb, var(--gnome-accent-bg) 32%, transparent);
    --gnome-view-selected-active-background: color-mix(in srgb, var(--gnome-accent-bg) 39%, transparent);
    --gnome-sidebar-background: #ebebeb;
    --gnome-secondary-sidebar-background: #f3f3f3;

    /* Card */
    --gnome-card-background: #ffffff;
    --gnome-card-shade-color: color-mix(in srgb, black 7%, transparent);

    /* Menu */
    --gnome-menu-background: #ffffff;
    --gnome-menu-color: var(--gnome-window-color);
    --gnome-menu-border-color: rgba(0, 0, 0, .04);
    --gnome-menu-shadow: 0 1px 5px 1px rgba(0, 0, 0, .09), 0 2px 14px 3px rgba(0, 0, 0, .05);
    --gnome-menu-button-hover-background: var(--gnome-button-background);
    --gnome-menu-separator-color: var(--gnome-border-color);

    /* Header bar */
    --gnome-headerbar-background: #ffffff;
    --gnome-headerbar-shade-color: rgba(0, 0, 0, 0.12);

    /* Toolbars */
    --gnome-toolbar-background: var(--gnome-headerbar-background);
    --gnome-toolbar-border-color: var(--gnome-headerbar-shade-color);
    --gnome-toolbar-icon-fill: #2f2f2f;

    /* Elements */
    --gnome-border-color: color-mix(in srgb, black 15%, transparent);
    --gnome-hover-color: color-mix(in srgb, black 7%, transparent);
    --gnome-active-color: color-mix(in srgb, black 16%, transparent);
    --gnome-selected-color: color-mix(in srgb, black 10%, transparent);
    --gnome-selected-hover-color: color-mix(in srgb, black 13%, transparent);
    --gnome-selected-active-color: color-mix(in srgb, black 19%, transparent);
    --gnome-trough-background: color-mix(in srgb, black 15%, transparent);
    --gnome-trough-hover-background: color-mix(in srgb, black 20%, transparent);
    --gnome-trough-active-background: color-mix(in srgb, black 25%, transparent);

    /* Buttons */
    --gnome-button-background: color-mix(in srgb, black 10%, transparent);
    --gnome-button-hover-background: color-mix(in srgb, black 15%, transparent);
    --gnome-button-active-background: color-mix(in srgb, black 30%, transparent);
    --gnome-button-checked-background: var(--gnome-button-active-background);
    --gnome-button-checked-hover-background: color-mix(in srgb, black 35%, transparent);
    --gnome-button-checked-active-background: color-mix(in srgb, black 40%, transparent);
    --gnome-button-suggested-background: var(--gnome-accent-bg);
    --gnome-button-destructive-background: color-mix(in srgb, black 15%, transparent);
    --gnome-button-destructive-hover-background: color-mix(in srgb, black 20%, transparent);
    --gnome-button-destructive-active-background: color-mix(in srgb, black 35%, transparent);

    /* Entries */
    --gnome-entry-background: var(--gnome-button-background);
    --gnome-entry-color: var(--gnome-view-color);
    --gnome-entry-focused-border-color: color-mix(in srgb, var(--gnome-accent) 50%, transparent);
    --gnome-entry-error-focused-border-color: color-mix(in srgb, var(--gnome-error) 50%, transparent);

    /* Tabs */
    --gnome-tabbar-background: var(--gnome-headerbar-background);
    --gnome-tabbar-tab-separator-color: var(--gnome-border-color);
    --gnome-tabbar-tab-hover-background: #f1f1f1;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #ebebeb;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-background-contrast: #c0c0c0;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-hover-background: #e4e4e4;
    /* Hardcoded color */
    --gnome-tabbar-tab-needs-attetion: var(--gnome-palette-blue-2);

    --gnome-tabbar-identity-color-blue: var(--gnome-accent);
    --gnome-tabbar-identity-color-turquoise: #00c79a;
    --gnome-tabbar-identity-color-green: var(--gnome-palette-green-5);
    --gnome-tabbar-identity-color-yellow: #ae7b03;
    --gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-4);
    --gnome-tabbar-identity-color-red: var(--gnome-palette-red-3);
    --gnome-tabbar-identity-color-pink: #ff4b84;
    --gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-4);
}